$font-family-base: 'Libre Baskerville', serif !default;
$headings-font-family: 'Roboto Condensed', sans-serif !default;

@import 'bootstrap';
@import 'syntax.css';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  & > footer {
    color: silver;
    font-size: 0.75rem;
    text-align: center;
  }
}

code, pre {
  background: #f8f8f8;
  border: 1px solid #eee;
}

code {
  padding: 0.25rem;
}

pre {
  padding: 0.5rem 1rem;

  & > code {
    border: none;
    padding: 0;
  }
}

body.article {
  nav img {
    width: 48px;
    height: 48px;
  }

  article {
    & > p:first-of-type {
      strong { text-transform: uppercase; }

      &:first-letter {
        font-size: 1.5rem;
      }
    }

    img {
      margin: 1rem;
      max-width: 100%;
    }

    .text-center > img {
      margin: 1rem 0;
    }

    pre {
      clear: both;
    }
  }
}
