@import "base";
@import "syntax";

header, footer, nav, section, article, aside {
  display: block;
}

body {
  @include container;

  @if $debug {
    @include showgrid;
  }

  color: $font-color;
  font: normal 400 12pt/1.6 'Mercury SSm A', 'Mercury SSm B', serif;
  margin: 2em auto;
  overflow: visible;

  & > footer {
    color: silver;
    font-size: 0.75em;
    text-align: center;
    @include column(24);
  }
}

a img {
  border: none;
}

h1, h2, h3 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'san-serif';
  font-weight: 400;
  font-style: normal;
  margin: 1em 0;
}

h1 {
  font-size: 2.0em;
  line-height: 1.6em;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.6em;
}

p {
  margin: 1.5em 0;
}

em {
  font-style: italic;
}

ul, ol {
  list-style-position: inside;
  margin: 1.5em;

  li {
    line-height: 1.5em;
    margin: 0;
  }
}

a {
  color: $link-color;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  @include transition(border 0.25s ease-in);

  &:hover {
    border-bottom: 2px solid $link-color;
  }
}

ol {
  list-style-type: decimal;
}

#left {
  @include column(12);
}

#right {
  @include column(12, true);
}


code, pre {
  border: 1px solid #eee;
  background: #f8f8f8;
  font-family: 'source-code-pro', monospace;
  font-size: 14px;
  line-height: 1.6em;
}

code {
  padding: 0.25em;
}

pre {
  padding: 0.5em 1em;
  margin: 0.75em 0;
  margin-top: 0.25em;
  overflow: hidden;
}

pre > code {
  border: none;
  padding: 0;
}

body.home {
  h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
  }

  aside {
    float: right;
  }

  #bio {
    font-style: italic;
  }

  #articles ul {
    margin: 0 0 1.5em 0;
  }
}

body.article {
  nav {
    position: absolute;

    a {
      font-size: smaller;
      position: relative;
      left: -70px;
      top: -20px;
    }
  }

  article {
    header {
      @include clearfix;

      .meta {
        font-style: italic;

        p { margin: 0; }
      }
    }

    aside {
      float: right;
      margin-left: 1.5em;
    }

    & > p:first-of-type {
      strong { text-transform: uppercase; }

      &:first-letter {
        font-size: 2em;
        line-height: 0.5em;
        margin-right: 0.0625em;
      }
    }

    img {
      margin: 1.5em;
    }

    pre {
      clear: both;
    }
  }
}
