<!DOCTYPE HTML>
<html lang="en-au">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Josh Bassett" />
    <meta name="description" content="The life and times of Josh Bassett." />
    <meta name="keywords" content="josh, bassett, ruby, rails, programmer, blog" />

    <title><%= @item[:title] %> &mdash; Josh Bassett</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" media="screen" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://use.typekit.com/ggn1xar.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20723605-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <section id="content">
      <header>
        <h1><%= @item[:title] %></h1>
        <section id="meta">
          <p><time datetime="<%= @item[:created_at].to_s(:iso8331) %>"><%= @item[:created_at].to_s(:long_ordinal) %></time></p>
        </section>
      </header>

      <%= yield %>

      <div id="disqus_thread"></div>

      <script type="text/javascript">
        var disqus_shortname = 'joshbassett';

        // The following are highly recommended additional parameters. Remove the slashes in front to use.
        // var disqus_identifier = 'unique_dynamic_id_1234';
        // var disqus_url = 'http://example.com/permalink-to-page.html';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>

      <footer>
        <p>Copyright © <%= Date.today.year %> Joshua Bassett.</p>
      </footer>
    </section>
  </body>
</html>
