$blueprint-grid-columns: 24;
$blueprint-grid-width:   27px;
$blueprint-grid-margin:  5px;

$font-color:             #333;
$link-color:             #ff0000;

$debug: false;

@import "blueprint/debug";
@import "blueprint/grid";
@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";

@include blueprint-grid;
