.coderay {
  background-color: #fafafa; color: #000000;
  .comment { color: #3333ff; font-weight: bold; }
  .instance-variable { }
  .char { color: #0066ff; font-style: italic; }
  .global-variable { }
  .regexp { color: #ff0080; }
  .symbol { color: #6782d3; }
  .keyword { color: #0000ff; }
  .string { color: #009933; }
  .class { font-weight: bold; text-decoration: underline; }
}
