.coderay {
background-color: #fafafa; color: #000000;
.co { color: #3333ff; font-weight: bold; }
.iv { }
.c { color: #0066ff; font-style: italic; }
.gv { }
.rx { color: #ff0080; }
.sy { color: #6782d3; }
.r { color: #0000ff; }
.s { color: #009933; }
.cl { font-weight: bold; text-decoration: underline; }
}
