@import "base";
@import "coderay";

header, footer, nav, section, article, aside {
  display: block;
}

body {
  @include container;

  @if $debug {
    @include showgrid;
  }

  color: $font-color;
  font-family: "adobe-garamond-pro-1", "adobe-garamond-pro-2", serif;
  font-size: 18px;
  font-weight: 400;
  margin: 2em auto;
  overflow: visible;
  text-align: justify;
  text-rendering: optimizeLegibility;
  //-webkit-font-smoothing: antialiased;

  & > footer {
    color: silver;
    font-size: 0.75em;
    text-align: center;
    @include column(24);
  }
}

a img {
  border: none;
}

h1, h2, h3 {
  font-family: "museo-slab-1", "museo-slab-2", serif;
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.1667em;
  line-height: 1.286em;
  margin-top: 1.286em;
  margin-bottom: 1.286em;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
  margin: 1.5em 0;
}

ul, ol {
  list-style-position: inside;
  margin: 1.5em;

  li {
    line-height: 1.5em;
    margin: 0;
  }
}

a {
  color: $link-color;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  @include transition(border, 0.25s, ease-in);

  &:hover {
    border-bottom: 2px solid $link-color;
  }
}

ol {
  list-style-type: decimal;
}

#left {
  @include column(12);
}

#right {
  @include column(12, true);
}

p > code, figure {
  font-family: "droid-sans-mono-1", "droid-sans-mono-2", monospace;
  font-size: 0.7em;
  line-height: 1.5em;
}

figure {
  pre.coderay {
    border: 1px solid #eee;
    padding: 0.5em 1em;
    margin: 0.75em 0;
    margin-top: 0.25em;
    overflow: hidden;
  }

  figcaption {
    background-color: #ccc;
    color: white;
    font-size: 0.9em;
    padding: 0.2em 0.4em;
    @include border-radius(4px);
  }
}

body#home {
  h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0;

    .char2 {
      margin-left: -3px;
    }
  }

  aside {
    float: right;
  }

  #bio {
    font-style: italic;
  }

  #articles ul {
    margin: 0 0 1.5em 0;
  }
}

body#article {
  & > nav {
    position: absolute;

    a {
      font-size: smaller;
      position: relative;
      left: -70px;
      top: -20px;
    }
  }

  article {
    header {
      @include clearfix;

      #meta {
        float: right;
        font-style: italic;

        p { margin: 0; }
      }
    }

    aside {
      float: right;
      margin-left: 1.5em;
    }

    // Uppercase the first two words of the first paragraph.
    .word1, .word2 {
      text-transform: uppercase;
    }

    // Double the font size of the first letter of the first word.
    .word1 .char1 {
      font-size: 2em;
      line-height: 0.5em;
      margin-right: 0.0625em;
    }
  }
}
