@import "base";
@import "coderay";

body {
  @include container;

  @if $debug {
    @include showgrid;
  }

  color: $font-color;
  font-family: "adobe-garamond-pro-1", "adobe-garamond-pro-2", serif;
  font-size: 18px;
  font-weight: 400;
  margin: 3em auto;
  overflow: visible;
  text-align: justify;

  & > footer {
    color: silver;
    font-size: 0.75em;
    text-align: center;
    @include column(24);
  }
}

h1, h2, h3 {
  font-family: "museo-slab-1", "museo-slab-2", serif;
  //font-family: "myriad-pro-1", "myriad-pro-2", sans-serif;
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.1667em;
  line-height: 1.286em;
  margin-top: 1.286em;
  margin-bottom: 1.286em;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
  margin: 1.5em 0;
}

ul, ol {
  list-style-position: inside;
  margin: 1.5em;

  li {
    line-height: 1.5em;
    margin: 0;
  }
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: red;
  }

  &:hover {
    text-decoration: underline;
  }
}

ol {
  list-style-type: decimal;
}

#left {
  @include column(12);
}

#right {
  @include column(12, true);
}

#meta time {
  font-style: italic;
}

p > code, figure {
  font-family: "droid-sans-mono-1", "droid-sans-mono-2", monospace;
  font-size: 0.7em;
  line-height: 1.5em;
}

figure {
  pre.coderay {
    border: 1px solid #eee;
    padding: 0.5em 1em;
    margin: 0.75em 0;
    margin-top: 0.25em;
    overflow: hidden;
  }

  figcaption {
    background-color: #ccc;
    color: white;
    font-size: 0.9em;
    padding: 0.2em 0.4em;
    @include border-radius(4px);
  }
}

body#home {
  #left > header {
    h1 {
      font-size: 56px;
      font-weight: 600;
      margin: 0;
    }
  }

  #articles ul {
    margin: 0;
  }
}
