@import "base";
@import "coderay";

body {
  //font-family: "minion-pro-1", "minion-pro-2", serif;
  //font-family: "ltc-bodoni-175-1", "ltc-bodoni-175-2", serif;
  font-family: "museo-slab-1", "museo-slab-2", serif;
  //font-family: "chaparral-pro-1", "chaparral-pro-2", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #fff;
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.1667em;
  line-height: 1.286em;
  margin-top: 1.286em;
  margin-bottom: 1.286em;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
  margin: 1.5em 0;
}

#content {
  @include container;

  @if $debug {
    @include showgrid;
  }

  overflow: visible;
  margin-top: 1.5em;
  text-align: justify;
}

figure {
  pre.coderay {
    font-family: "droid-sans-mono-1", "droid-sans-mono-2", monospace;
    font-size: 12px;
    padding: 1.5em;
    margin: 12px 0;
    overflow: hidden;
  }

  figcaption {
    color: silver;
  }
}
