<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="/images/profile.jpg" class="border border-light rounded-circle float-right ml-3 d-none d-md-block">
    <h1 class="display-3">Josh Bassett</h1>
    <p class="lead">Hello. I'm a software developer living in Byron Bay, Australia.</p>
    <p>Please drop me a line on <a href="https://twitter.com/nullobject">Twitter</a>, or check out what I've been hacking on at <a href="https://github.com/nullobject">GitHub</a>.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h5>Recent Articles</h5>
      <ul>
        <% page_articles.each do |article| %>
          <li><%= link_to(article.title, article) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h5>Projects</h5>
      <ul>
        <li><a href="https://github.com/nullobject/bulb">Bulb</a></li>
        <li><a href="https://github.com/nullobject/fkit">FKit</a></li>
        <li><a href="https://github.com/nullobject/mache">Mâché</a></li>
        <li><a href="https://github.com/nullobject/rein">Rein</a></li>
        <li><a href="https://risk.joshbassett.info">Risk</a></li>
        <li><a href="https://tetris.joshbassett.info">Tetris</a></li>
      </ul>
    </div>
  </div>
</div>
